/* Сброс стандартных отступов и применение шрифта */
html,
body {
    height: 100%;
    margin: 0;
    font-family: 'JekoDEMO-ExtraBold', sans-serif;
}

* {
    font-weight: bold;

    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Стандарт */
}

/* Стили для светлой темы */
[data-theme="light"] {
  /* ALL */
  --background-color: #c5c5c5;
  --text-color: #000000;
  /* MainMenu */
  --header-bg-color: #ffffff;
  --footer-bg-color: #ffffff;
  --border-account-frame: #000000;
  --icon-image-shadow-cl: #1d1d1d;
  --main-text-anim-cl: linear-gradient(45deg, #0e0e0e, #222222, #333333, #3b3b3b);
  --main-text-anim-sh-cl-0: #202020; /* Цвет тени на 0% */
  --main-text-anim-sh-cl-50: #181818; /* Цвет тени на 50% */
  --main-text-anim-sh-cl-100: #0f0f0f; /* Цвет тени на 100% */
  --roadmap-color-all: #000000;
  --block-border: #000000;
  --block-color: #c5c5c5;
  --block-shadow: #444444;
  --scroll-color: #000000;
  --scroll-bg-color: #c5c5c5;
  --scroll-bor-color: #000000;
  --chapter-menu-item-color: #000000;
  --chapter-menu-bg-color: #c5c5c5;
  --chapter-menu-bor-color: #000000;
  --chapter-tooltip-item-color: #000000;
  --chapter-tooltip-bg-color: #c5c5c5;
  --chapter-tooltip-bor-color: #000000;
  --comment-button-color: #8e00aa;
  --text-input-border: #000000;
  --comment-border: #000000;
  /* Registration Login and Forgot-Password*/
  --input-border: #000000;
  --google-button-border: #000000;
  --register-border: #000000;
  --registration-background-color: #e6e6e6;
}

/* Стили для темной темы */
[data-theme="dark"] {
  /* ALL */
  --background-color: #222;
  --text-color: #f9f9f9;
  /* MainMenu */
  --header-bg-color: #333;
  --footer-bg-color: #333;
  --border-account-frame: #ffffff;
  --icon-image-shadow-cl: #6e6e6e;
  --main-text-anim-cl: linear-gradient(45deg, #c4c4c4, #c5c5c5, #ececec, #ffffff);
  --main-text-anim-sh-cl-0: #8d8d8d; /* Цвет тени на 0% */
  --main-text-anim-sh-cl-50: #6e6e6e; /* Цвет тени на 50% */
  --main-text-anim-sh-cl-100: #727272; /* Цвет тени на 100% */
  --roadmap-color-all: #ffffff;
  --block-border: #ffffff;
  --block-color: #222;
  --block-shadow: #9e9e9e;
  --scroll-color: #ffffff;
  --scroll-bg-color: #333;
  --scroll-bor-color: #ffffff;
  --chapter-menu-item-color: #ffffff;
  --chapter-menu-bg-color: #333;
  --chapter-menu-bor-color: #ffffff;
  --chapter-tooltip-item-color: #ffffff;
  --chapter-tooltip-bg-color: #333;
  --chapter-tooltip-bor-color: #ffffff;
  --comment-button-color: #ad03cf;
  --text-input-border: #ffffff;
  --comment-border: #ffffff;
  /* Registration */
  --input-border: #ccc;
  --google-button-border: #ffffff;
  --register-border: #ccc;
  --registration-background-color: #222;
}

/* Підключення шрифту */
@font-face {
  font-family: 'JekoDEMO-ExtraBold'; /* Ім'я шрифту */
  src: url('/fonts/JekoDEMO-ExtraBold.otf') format('opentype'); /* Шлях до файлу шрифту */
  font-weight: bold;
  font-style: normal;
}

.app-container {
  display: flex;
  min-height: 100%;
  margin: 0; /* Убедимся, что у app-container нет отступов */
}

.main-content {
  flex: 1;
  color: var(--text-color);
  background-color: var(--background-color);
}